body {
    background-image: url("https://cdn.designbyhumans.com/file/module/store/672/46672/hero/4896966.jpg");
    background-size: cover;
    background-position: top;
    padding: 0;
    margin: 0;
}
